body{
    background-color: lightblue;
}
h1{
    color: wheat;
    background-color: black;
    font-size: 20px;
    text-align: center;
}
legend{
    background-color: limegreen;
}
a{
   background-color: ghostwhite;
}